

@import url('https://fonts.googleapis.com/css2?family=Yellowtail&display=swap');


:root {
  --primary-white: #fff;
  --primary-orange : #7F00FF;
  --primary-dark: rgba(255,255,255, 0);
  --primary-red: #ef4035;
  --primary-hover-red: #f33501;
  --primary-light-grey: #f4f4f4;
}

body {
  font-family: 'Yellowtail', cursive;

  /* font-family: "Roboto Condensed" sans-serif; */
}
/**********************************************NAVBAR*************************************/









/**************MENU LINKS************************/
nav a.nav-link {
  font-size: 0.8rem;
  letter-spacing: 0.0375 rem;
  cursor: pointer;

}

nav ul li {
  text-transform: uppercase;
}

.navbar-nav > li > a {
  margin-right: 0.75rem;
  margin-left: 0.75rem;
  color: var(--primary-white) !important;
  border-top: 0.1875rem solid var(--primary-dark);
}

.navbar-nav > li > a.active, .navbar-nav >li >a:focus {

  border-top: 0.1875rem solid var(--primary-orange);
}

.navbar-nav > li >a:hover {
  border-top: 0.1875rem solid var(--primary-orange);

}



/******************************Header wrap*********************/

.header-wrapper {
  margin: 0;
  padding: 0;
  background: url(wedding1.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
  height: 100vh;
  
}


.father-container {
  margin: 0 auto;
  width: 500px;
  justify-content: center;

}

/* iPad Pro */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  
   .father-container {
    width: 100%;
    
  }
}

/* Landscape */
@media only screen 
  and (min-width: 1024px) 
  and (max-height: 1366px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 1.5) {
    .father-container {
      width: 100%;
      
    }

}



/* cater for small devices */
@media only screen and (max-width: 1059px) {
  .father-container {
    width: 100%;
    
  }

}





.main-info {

  
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  

}

.main-info h1,h2, h3 {
 
  text-transform: uppercase;
  font-size: 4.5vw;
  font-family: "Cinzel"  ;
  color: #6B354D;
  letter-spacing: 2px;
}

.info-small {
  
  text-transform: uppercase;
  font-size: 2vw;
  font-family: "Cinzel";
  color: #6B354D;
  font-style: bold;
}

.date-info {

  margin-top: 5%;
}

.header-day , .header-date {

  font-family: 'Cormorant Garamond', serif;
  font-size: 1.5vw;
  font-style: italic;
  letter-spacing: 2px;

}

.address-info {
  margin-top: 5%;
  width: 30%;
  font-family: 'Cormorant Garamond', serif;
  font-size: 1vw;
  font-style: italic;
  letter-spacing: 2px;

}

/** Header offer button *********/

.btn-main-offer {

  border: 1px solid var(--primary-red);
}



/****************About me***************/

.photo-wrap {
  display: flex;
  justify-content: center;
  align-items: center;

}
.profile-img {

  width: 16rem;
  border-radius: 50%;
  padding: 0.3rem;
  border: 1px solid var(--primary-orange);
}

.about-heading {
  color: var(--primary-orange);
  text-transform: uppercase;
  font-weight: bold;
}

.about-para{
  text-align: justify;
  font-size: 20px;
  
}

.aboutcontain
{
 
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 1500px;
  
}

.walimat h3, h2 
{
  
  font-size: 15px;
  
}

.abahumi {

  margin-top: 10%;
  font-family: 'Marcellus', serif;
  font-size: 1.5em;
  line-height: 1.2em;
}

.segalahormat {

  width: 300px;
  padding-top: 10%;
  font-family: 'Marcellus' ,  serif;
  margin: auto;
  

}

.segalahormat-2 {
  margin-top: 10%;
  font-family: 'Marcellus' ,  serif;

}

.weddetails {

  margin-top: 10%;
}

.weddetails h3 {

    font-weight: bold;
}

.weddetails p {

  font-family: 'Marcellus' ,  serif;
}

.daftar {

}


/* Navbar */

.sticky-navbar {
  position: sticky;
  height: 10vh;
  bottom: 0;
  background-color: #333;
  color: white;
  padding: 10px 20px;
  /* Adjust z-index to ensure it's above the content */
  z-index: 100;

}

/************QUOTES***************/



